.body-text-highlight {
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
    &-bold {
        font-weight: bold;
    }
    
    &-regular {
        font-weight: normal;
    }
    
    &-medium {
        font-weight: 500;
    }
}

.body-text-large {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.label-text {
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    &-regular {
        font-weight: 400;
    }
    &-semi-bold {
        font-weight: 600;
    }
}

.label-text-small {
    font-size: 10px;
    font-style: normal;
    line-height: 14px;
    &-regular {
        font-weight: 400;
    }
    &-semi-bold {
        font-weight: 600;
    }
}
