//font-variables
$font-family: 'Open Sans', sans-serif;
//breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//z-index   
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;  

